https://www.kaggle.com/datasets/arnabbiswas1/microsoft-azure-predictive-maintenance?select=PdM_failures.csv
https://github.com/Azure/AI-PredictiveMaintenance/tree/master/docs

In [2]:
import pandas as pd

# Data

## Telemetry

Telemetry Time Series Data (PdM_telemetry.csv): It consists of hourly average of voltage, rotation, pressure, vibration collected from 100 machines for the year 2015.

In [3]:
df_telemetry = pd.read_csv("../dataset/raw/PdM_telemetry.csv")
print(df_telemetry.shape)
df_telemetry.sample(3)

(876100, 6)

,datetime,machineID,volt,rotate,pressure,vibration
727742,2015-01-25 09:00:00,84,159.834955,408.805406,112.119268,41.009493
478356,2015-08-08 12:00:00,55,159.296096,386.768279,91.307852,36.912558
784035,2015-06-29 16:00:00,90,163.961634,424.033189,86.282301,45.476856

## Machines

Metadata of Machines (PdM_Machines.csv): Model type & age of the Machines.

In [4]:
df_machines = pd.read_csv("../dataset/raw/PdM_machines.csv")
print(df_machines.shape)
df_machines.sample(3)

(100, 3)

    machineID   model  age
12         13  model1   15
92         93  model3   18
99        100  model4    5

## Errors

Error (PdM_errors.csv): These are errors encountered by the machines while in operating condition. Since, these errors don't shut down the machines, these are not considered as failures. The error date and times are rounded to the closest hour since the telemetry data is collected at an hourly rate.

In [6]:
df_errors = pd.read_csv("../dataset/raw/PdM_errors.csv")
print(df_errors.shape)
df_errors.sample(3)

(3919, 3)

                 datetime  machineID errorID
2411  2015-06-29 19:00:00         63  error2
3096  2015-10-17 00:00:00         80  error2
87    2015-08-07 04:00:00          3  error2

## Failures

Failures (PdM_failures.csv): Each record represents replacement of a component due to failure. This data is a subset of Maintenance data. This data is rounded to the closest hour since the telemetry data is collected at an hourly rate.

In [7]:
df_failures = pd.read_csv("../dataset/raw/PdM_failures.csv")
print(df_failures.shape)
df_failures.sample(3)

(761, 3)

                datetime  machineID failure
484  2015-07-15 06:00:00         67   comp2
609  2015-01-05 06:00:00         84   comp2
329  2015-07-29 06:00:00         44   comp2

## Maintenance

Maintenance (PdM_maint.csv): If a component of a machine is replaced, that is captured as a record in this table. Components are replaced under two situations: 1. During the regular scheduled visit, the technician replaced it (Proactive Maintenance) 2. A component breaks down and then the technician does an unscheduled maintenance to replace the component (Reactive Maintenance). This is considered as a failure and corresponding data is captured under Failures. Maintenance data has both 2014 and 2015 records. This data is rounded to the closest hour since the telemetry data is collected at an hourly rate.

In [9]:
df_maint = pd.read_csv("../dataset/raw/PdM_maint.csv")
print(df_maint.shape)
df_maint.sample(3)

(3286, 3)

                 datetime  machineID   comp
3284  2015-12-09 06:00:00        100  comp2
514   2015-03-18 06:00:00         16  comp2
2510  2015-02-10 06:00:00         77  comp1